@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	height: 100dvh;
	/* font-family: "Roboto", sans-serif; */
}

#root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* justify-content: space-evenly; */
	align-items: center;
	height: 100%;
	padding: 0em 1em;
}

@media (min-width: 1280px) {
	#root {
		padding: 0em 12em;
		/* justify-content: flex-start; */
	}
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 3px gainsboro;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: whitesmoke;
}
